<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="/blog.css">
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    rel="icon"
    href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>🌫️</text></svg>"
  />
  {% block rss %}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml", trailing_slash=false) }}">
    <link rel="alternate" type="application/atom+xml" title="Atom" href="{{ get_url(path="atom.xml", trailing_slash=false) }}">
  {% endblock %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% if page %}
    <meta name="description" content="{{ page.description | default(value="Mario Savarese's personal blog") }}">
    <meta name="keywords" content="{{ page.extra.keywords | default(value="Mario,Savarese,software,engineer,guardian,investigations,rust") }}">
    <title>{{ page.title }}</title>
  {% else %}
    <meta name="description" content="Mario Savarese's personal blog">
    <meta name="keywords" content="Mario,Savarese,software,engineer,guardian,investigations,rust">
    <title>mario savarese</title>
  {% endif %}
  <script defer data-domain="mariosavarese.com" src="https://plausible.io/js/script.js"></script>
</head>

<body>
  <nav>
    <ul>
      <li><a href="https://www.mariosavarese.com">Home</a></li>
      <li><a href="/blog" class="active">Blog</a></li>
      <li><a href="https://www.mariosavarese.com/projects">Projects</a></li>
    </ul>
  </nav>

  <section class="section">
    <div class="container">
      {% block content %} {% endblock %}
    </div>
  </section>
  <section>
  <div class="rss">
    <ul>
      <li><a href="/rss.xml">RSS</a></li>
      <li><a href="/atom.xml">Atom</a></li>
    </ul>
  </div>
  </section>
</body>

</html>
