body {
  height: 100%;
  font-family: Helvetica, sans-serif;
}

a {
  border-bottom: 1px solid #fcd303;
  color: black;
  text-decoration: none;
  padding: 2px;
  -webkit-transition: background-color 0.2s linear, border-radius 0.2s linear;
  -moz-transition: background-color 0.2s linear, border-radius 0.2s linear;
  -o-transition: background-color 0.2s linear, border-radius 0.2s linear;
  transition: background-color 0.2s linear, border-radius 0.2s linear;
}

a:hover {
  background-color: #fcd303;
  border-radius: 4px;
}