a {
  font-family: "Inter", sans-serif;
  border-bottom: 1px solid #fcd303;
  color: black;
  text-decoration: none;
  padding: 2px;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}
a:hover {
  background-color: #fcd303;
  border-radius: 4px;
}

body {
  margin-left: 0px;
  height: 100%;
}
