---
import Intro from "../components/Intro.astro";
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
---

<html lang="en">
  <Head />
  <body>
    <Header />
    <Intro />
    <Footer />
  </body>
</html>

<style lang="scss">
  body {
    margin: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f9f9f9;
  }
</style>
