---
import Projects, { Project } from "../components/Projects.astro";
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";

const projects: Project[] = [
  {
    url: "https://crates.io/crates/aletheia",
    title: "Aletheia",
    description:
      "An HTTP client library for the Guardian's content API written in Rust.",
  },
  {
    url: "https://new-yorker-music.fly.dev",
    title: "The New Yorker Music Project",
    description:
      "A searchable archive of the New Yorker's Jazz, Rock, and Pop music recommendations.",
  },
];
---

<html lang="en">
  <Head />
  <body>
    <Header />
    <Projects projects={projects} />
    <Footer />
  </body>
</html>

<style lang="scss">
  body {
    margin: 20px;
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f9f9f9;
  }
  div {
    font-size: 1.2rem;
    line-height: 1.6rem;
    max-width: 1000px;
  }
</style>
