.container {
    align-content: center;
    text-align: center;
}

.cell {
    display:table-cell;
    width:10px;
    height:10px;
    border:none;
    border-radius: 50%;
    background: white;


}
.row {
    display: table-row;
}


h1 {
    font-family:'Courier New', Courier, monospace;
    color:white
   
}

body {
    margin-left:40px;
    background: #142129;
}

button {
    margin-top:20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    position: absolute;

}

html {
    font-family: 'Courier New', Courier, monospace;
    color:white
}