---
import "../styles/global.css";

const links = [
  { name: "Bluesky", url: "https://bsky.app/profile/mariosavarese.com" },
  { name: "GitHub", url: "https://github.com/marsavar" },
  { name: "LinkedIn", url: "https://www.linkedin.com/in/mario-savarese-68817b91/" },
  { name: "Goodreads", url: "https://www.goodreads.com/user/show/12596225-mario" }
];
---

<div>
  <ul>
    {links.map(link => (
      <li>
        <a href={link.url}>{link.name}</a>
      </li>
    ))}
  </ul>
</div>

<style lang="scss">
  div {
    margin-top: 4rem;
    font-size: 1.1rem;
    display: inline-block;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    float: left;
    margin-right: 24px;
    text-transform: lowercase;
  }
</style>
