<div>
  <ul>
    <li><a href="https://twitter.com/mar_savar">Twitter</a></li>
    <li><a href="https://github.com/MarSavar">Github</a></li>
    <li>
      <a href="https://www.linkedin.com/in/mario-savarese-68817b91/"
        >LinkedIn</a
      >
    </li>
    <li>
      <a href="https://www.goodreads.com/user/show/12596225-mario">Goodreads</a>
    </li>
  </ul>
</div>

<style lang="scss">
  div {
    margin-top: 40px;
    font-size: 1.1rem;
    display: inline-block;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    float: left;
    margin-right: 24px;
  }
</style>
