---
import "../styles/global.css";
import { NavBar } from "./NavBar";
import Navigation from "./Navigation.astro";
---

<div>
  <h1>Mario Savarese</h1>
  <Navigation />
  <NavBar client:load />
</div>

<style>
  h1 {
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-size: 3rem;
    letter-spacing: -2pt;
    text-transform: lowercase;
    margin: 0;
    border-bottom: 6px solid #fcd303;
    display: inline-block;
    opacity: 1;
  }
</style>
