<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/blog">Blog</a></li>
    <li><a href="/projects">Projects</a></li>
  </ul>
</nav>

<style>
  ul {
    padding-left: 0;
    display: flex;
    flex-wrap: nowrap;
  }
  a {
    border-bottom: none;
  }
  li {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
    letter-spacing: -0.5pt;
    text-transform: lowercase;
    margin: 0 2rem 0 0;
    display: inline-block;
    transition: none;
  }
  .active {
    border-bottom: 2px solid #fcd303;
  }
</style>
